<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @position.title %>
</p>

<h2>Required skills:</h2>
<div id="skills">
	<% @position.skills.each do |skill| %>
		<%= div_for skill do %>
			<p>
				Skill: <%= skill.title %> Level: <%= skill.level %>
			</p>
		<% end %>
	<% end %>
</div>
<h3>Add skill:</h3>
  <%= form_for([@position, Skill.new]) do |f| %>
  	<div class="field">
      <%= f.label :title %>
      <%= f.text_field :title%>
    </div>
    <div class="field">
      <%= f.label :level %>
      <%= f.select :level, %w(Limited Working Extensive Expert) %>
    </div>
    <p><%= f.submit "Add skill" %></p>
  <% end %>
<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
